@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Montserrat';
}
body {
  margin: 0;
  line-height: 1.6em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* @mixin circle-box {
  border: 5px solid #000;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: inline-block;
  background-color: tomato;
}
.item1 {
  @include circle-box
}
.item2 {
  @include circle-box
}
.item3 {
  @include circle-box
} */

%circle-box {
  border: 5px solid #000;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: inline-block;
  background-color: tomato;
}
.item1 {
  @extend %circle-box;
}
.item2 {
  @extend %circle-box;
}
.item3 {
  @extend %circle-box;
}